.form-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-table td {
    padding-right: 40px;
}

.height-200 {
    height: 200px;
}

.box {
    -webkit-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    padding: 30px;
}

.full-width {
    width: 100%;
}

/* Wrapper for page content to push down footer */
.wrap {

    min-height: 100% !important;
    height: auto !important;

}

html {
    height: 100%;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    height: 100%;
    background-color: #E9E9E9;
}

.margin-top {
    margin-top: 60px;
}

.row {
    background-color: white;
}


.row div {
    margin:auto;
//padding-top:20px;
//float:initial;
    max-width:800px;
    height:100%;;
}


.navbar-custom {
    border-radius:0px;
    background-color: #3299BB !important;
    color: white;
    padding-right: 10px;

    -webkit-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 4px rgba(0, 0, 0, 0.75);
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom li:hover > a {
    color: #424242 !important;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #424242 !important;
    background-color:transparent;
}

.navbar-custom label {
    color: #302d33;
}


.footer {
    height: 60px;
    background-color: #BCBCBC;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.form-group {
    padding-bottom: 10px;
}

.progress {
    margin-top: 40px !important;
}

.col-marg-bottom {
    margin-bottom: 30px !important;
}

img.center {
    display: block;
    margin: 0 auto;
}

.car:hover {
    -webkit-box-shadow: 1px 1px 21px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 21px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 21px 0px rgba(50, 50, 50, 0.75);

    cursor: pointer;
}